<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AutoConcessionaria</display-name>
  <servlet>
    <servlet-name>ServiziControl</servlet-name>
    <servlet-class>control.ServiziControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiziControl</servlet-name>
    <url-pattern>/servizi</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiziControl</servlet-name>
    <url-pattern>/auto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AmministrazioneControl</servlet-name>
    <servlet-class>control.AmministrazioneControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmministrazioneControl</servlet-name>
    <url-pattern>/amministrazione</url-pattern>
  </servlet-mapping>
</web-app>